In [34]:
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split 
import pandas as pd
import numpy as np

In [4]:
data  =  pd.read_csv('final_data.csv')

In [7]:
data.head()

    Day_name  Time Name
0  Wednesday  1105   ct
1  Wednesday  1028   ct
2  Wednesday  1028   sd
3    Tuesday  1032   sd
4     Monday  2328   sk

In [17]:
encoder = preprocessing.LabelEncoder()
encoder.fit(data['Day_name'])
data['Day_name'] = encoder.transform(data['Day_name'])

In [19]:
data.head()

   Day_name  Time Name
0         6  1105   ct
1         6  1028   ct
2         6  1028   sd
3         5  1032   sd
4         1  2328   sk

In [20]:
dict(zip(encoder.classes_, encoder.transform(encoder.classes_)))

{'Friday': 0,
 'Monday': 1,
 'Saturday': 2,
 'Sunday': 3,
 'Thursday': 4,
 'Tuesday': 5,
 'Wednesday': 6}

In [21]:
scaler = preprocessing.StandardScaler()
scaler.fit(data[['Day_name', 'Time']])

D:\Anaconda3\envs\env-tf-gpu\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [30]:
X = scaler.transform(data[['Day_name', 'Time']])

D:\Anaconda3\envs\env-tf-gpu\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [43]:
enc = preprocessing.OneHotEncoder()
enc.fit(data['Name'].values.reshape(-1,1))

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

In [51]:
y = enc.transform(data['Name'].values.reshape(-1,1))

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2)

In [56]:
X.shape, y.shape, X_train.shape, X_test.shape, y_train.shape, y_test.shape

((235, 2), (235, 19), (188, 2), (47, 2), (188, 19), (47, 19))

In [58]:
model =KNeighborsClassifier()
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [61]:
res = model.kneighbors(X=X_test, n_neighbors=2, return_distance=False)

In [98]:
result = [enc.inverse_transform([y_train[i] for i in res][j]).reshape(-1,2) for j in range(len(res))]

In [97]:
enc.inverse_transform(y_test)

array([['ct'],
       ['ct'],
       ['sk'],
       ['rc'],
       ['ud'],
       ['ai'],
       ['as'],
       ['ai'],
       ['sd'],
       ['ai'],
       ['ct'],
       ['ct'],
       ['aj'],
       ['va'],
       ['ct'],
       ['sd'],
       ['ct'],
       ['rc'],
       ['sv'],
       ['ct'],
       ['bs'],
       ['ud'],
       ['ai'],
       ['ai'],
       ['ct'],
       ['sd'],
       ['ai'],
       ['ai'],
       ['rc'],
       ['ai'],
       ['ct'],
       ['md'],
       ['sd'],
       ['ai'],
       ['ct'],
       ['mm'],
       ['ag'],
       ['sd'],
       ['ct'],
       ['ct'],
       ['rc'],
       ['as'],
       ['sd'],
       ['rc'],
       ['ct'],
       ['ct'],
       ['ai']], dtype=object)

In [101]:
total = 0
right = 0 
for i in range(len(res)):
    total+=1 
    if enc.inverse_transform(y_test)[i] in result[i]:
        right+=1
print(right)

24